@import 'src/scss/colors';

#auth {
  min-height: 100%;
  margin: 0 auto;
  max-width: 400px;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .card {
    display: block;
    flex-basis: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    background: #fff;

    &.info {
      background: rgba($blue-primary, .2) !important;
    }

    &.child {
      background: #f4f4f4;
    }
  }

  .logo {
    width: 40px;
  }
}
