<section id="auth">
  <div class="auth-container w-100">
    <div class="card info mt-3">
      <p class="mb-0">
        By connecting a wallet, you acknowledge that you have read, understand and agree to Opdex Inc.'s
        <a class="no-decoration b-400"
          [attr.href]="terms"
          target="_blank"
          rel="noopener">Terms of Use</a>.
      </p>
    </div>

    <div class="card">
      <div class="flex-row-center-between mb-3">
        <div class="flex-row-center">
          <mat-icon class="small mr-1 {{authenticationHandler?.route ? 'green' : 'orange'}}">{{icons.staking}}</mat-icon>
          Access Request
        </div>

        <a class="flex-row-center" [attr.href]="authenticationHandler.route.origin" target="_blank" *ngIf="authenticationHandler?.route">
          {{authenticationHandler?.route?.hostname}}
          <mat-icon class="tiny ml-1">{{icons.externalLink}}</mat-icon>
        </a>
        <p class="mb-0 b-400" *ngIf="!authenticationHandler?.route">Unknown</p>
      </div>

      <p class="mb-0 b-400">Requested Permissions</p>

      <ul class="mb-0 mt-0">
        <li>Retrieve transactional quotes</li>
      </ul>
    </div>

    <div class="card">
      <div class="flex-row-center-center mb-2 mt-1">
        <img src="/assets/logo-light-blue.png" alt="Opdex Logo" class="logo mr-1">
        <h2 class="mb-0">Connect to Opdex</h2>
      </div>

      <ng-container *ngIf="!authenticationHandler?.accessCode || authenticationHandler?.accessCode && authenticationHandler?.action !== 'show'; else authenticated">
        <p class="text-center mb-3">Login with your Cirrus wallet.</p>
        <ng-container *ngIf="!reconnecting; else connecting">
          <opdex-qr-code [data]="stratisId?.stratisId"></opdex-qr-code>
          <opdex-qr-expiration [timeRemaining]="stratisId?.timeRemaining"></opdex-qr-expiration>

          <p class="mb-0 text-center mt-2">
            First time logging in?
            <a href="https://docs.opdex.com/docs/knowledge-center-wallets#logging-in" target="_blank">Learn how.</a>
          </p>
        </ng-container>

        <ng-template #connecting>
          <p class="text-center">Reconnecting, please wait...</p>
          <mat-progress-bar color="primary" mode="query"></mat-progress-bar>
        </ng-template>
      </ng-container>

      <ng-template #authenticated>
        <p class="text-center">Keep secrets in a safe place, they will never be shown again.</p>

        <opdex-secret
          label="Access Token"
          [secret]="authenticationHandler?.accessCode">
        </opdex-secret>
      </ng-template>
    </div>
  </div>
</section>

