<section id="auth">
  <div class="auth-container w-100">
    <div class="card info">
      <p class="mb-0">
        By connecting a wallet, you acknowledge that you have read, understand and agree to Opdex Inc.'s
        <a class="no-decoration b-400"
          href="https://opdex.com/assets/opdex-platform-ui-terms-of-use.pdf"
          target="_blank"
          rel="noopener">
          Terms of Use
        </a>.
      </p>
    </div>

    <div class="card">
      <div class="flex-row-center-center mb-3 mt-2">
        <img src="/assets/logo-light-blue.png" alt="Opdex Logo" class="logo">
        <h1 class="mb-0">Connect</h1>
      </div>

      <ng-container *ngIf="!authenticationHandler?.accessToken; else authenticated">
        <ng-container *ngIf="!reconnecting; else connecting">
          <p class="text-center">Scan or copy the QR code using a compatible Cirrus wallet to login.</p>
          <opdex-qr-code [data]="stratisId?.stratisId"></opdex-qr-code>
          <opdex-qr-expiration [timeRemaining]="stratisId?.timeRemaining"></opdex-qr-expiration>
        </ng-container>

        <ng-template #connecting>
          <p class="text-center">Reconnecting, please wait...</p>
          <mat-progress-bar color="primary" mode="query"></mat-progress-bar>
        </ng-template>
      </ng-container>

      <ng-template #authenticated>
        <p class="text-center">Keep secrets in a safe place, they will never be shown again.</p>

        <opdex-secret
          label="Access Token"
          [secret]="authenticationHandler?.accessToken">
        </opdex-secret>
      </ng-template>
    </div>
  </div>
</section>
