.secret {
  overflow-x: scroll;
  background: #f4f4f4;
  border-radius: 10px;
  white-space: nowrap;
  flex-grow: 1;
  margin-right: 10px;
  display: flex;
  align-items: center;
  position: relative;

  .visibility {
    padding-left: 10px;
    padding-right: 5px;
    background: #f4f4f4;
    position: sticky;
    left: 0;
  }

  small {
    padding: 5px 10px 5px 0;
  }
}
