<small class="b-400">{{label}}</small>

<div class="flex-row-center-center">
  <div class="secret">
    <div class="visibility">
      <button mat-icon-button color="primary" (click)="toggleSecret()" class="tiny">
        <mat-icon>{{showSecret ? icons.visible : icons.hidden}}</mat-icon>
      </button>
    </div>

    <small *ngIf="showSecret">{{secret}}</small>
    <small *ngIf="!showSecret">
      &#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;
    </small>
  </div>

  <button mat-icon-button
    color="primary"
    class="tiny"
    [cdkCopyToClipboard]="secret"
    (cdkCopyToClipboardCopied)="copy()">
    <mat-icon>{{copied ? icons.check : icons.copy}}</mat-icon>
  </button>
</div>
